{
  "parser": "@babel/eslint-parser", // uses babel-eslint transforms
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended",
    "prettier"
  ],
  "globals": {
    "window": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "error",
    "brace-style": "warn",
    "complexity": ["error", { "max": 11 }],
    "no-empty-function": "error",
    "no-shadow": "off",
    "no-var": "error",
    "react/prop-types": 0,
    "sort-keys": ["error", "asc", { "caseSensitive": true }]
  }
}