.container {
  width: 80vw;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw 0 10vw;
}
.text_collumn {
  text-align: left;
  display: flex;
  flex-direction: column;
}
@media screen and (max-device-width: 800px) {
  /* MOBILE DEVICES (-tablets) */
  .image {
    width: 80vw;
  }
  .container {
    gap: 20px;
    flex-direction: column;
  }
  .header {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
  }
  .text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: 0.25px;
  }
}
@media not screen and (max-device-width: 800px) {
  .container {
    gap: 8vw;
    flex-direction: row;
  }
  .image {
    width: 35vw;
  }
  .header {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
  }
  .text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.25px;
  }
  .line {
    width: 15vw;
    height: 1px;
    background-color: black;
  }
}
.CardLogo {
  width: 20.94px;
  height: 32px;
  /* background: url('../svg/cardLogo.svg'); */
}
