.contener{
width: 295px;
height: 399px;
background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.CardBigText{
    height: 23px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #000000;
    word-break: break-all;
}
.CardSmallText{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #6B7280;
    word-break: break-all;
}
.scratches{
    width: 263px;
    height: 0px;
    border: 1px solid #6B7280;
    border-radius: 10px;
    margin: auto;
}
.rounded{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.CardLogo{
    width: 20.94px;
    height: 32px;
    /* background: url('../svg/cardLogo.svg'); */
}